# ---------------- Python ----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.mypy_cache/
*.venv/
venv/
env/

# ---------------- Env ----------------
.env
.env.*  # eventuali altri file di ambiente

# ---------------- Database ----------------
*.db

# ---------------- Logs e file temporanei ----------------
*.log
*.pid
*.swp
*.tmp

# ---------------- VSCode ----------------
.vscode/